%h1 #{@group.full_name} > #{t(:request_membership)}

= simple_form_for @membership_request, url: group_membership_requests_path(@group) do |f|
  = f.input :name
  = f.input :email
  = f.input :introduction
  = f.submit t(:request_membership), class: "btn btn-info btn-large"

Cancel

